<component name="ArtifactManager">
  <artifact type="war" name="springBootFetch:war">
    <output-path>$PROJECT_DIR$/springBootFetch/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springBootFetch</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springBootFetch-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="springBootFetch:war exploded" />
    </root>
  </artifact>
</component>